:root {
  /* colors */
  --bg-main: #0a0a0a;
  --color-white: #ffffff;
  --color-grey: #ffffffb7;
  --color-black: #000000;
  --blue-main: #00eaff;
  --blue-bg: #06272a;
  --highlight-bg: #c3f3f8;
  --navbar-bg-op: #0a0a0a85;
  --footer-bg: #232323;
  --blue-clouds: #00eaff31;
  --section-spacer: #06272a;
  --blue-tag: #11a2aa;
  --blue-bg-icon: #00eaff08;
  --text-hl-blue: #0099cc;
  --text-hl-yellow: rgb(251, 183, 53);
  --text-hl-red: rgb(255, 88, 60);
  --text-hl-green: rgb(116, 202, 53);
  /* breakpoints */
  --pc: 1440px;
  --laptop: 1200px;
  --tab: 600px;
  --mobile: 360px;
}
