.d {
  &-flex {
    display: flex !important;
  }

  &-block {
    display: block !important;
  }

  &-none {
    display: none !important;
  }

  &-inline {
    display: inline !important;
  }

  &-xl {
    &-none {
      @media (max-width: 1199.98px) {
        display: none !important;
      }
    }

    &-inline {
      @media (max-width: 1199.98px) {
        display: inline !important;
      }
    }
  }

  &-lg {
    &-none {
      @media (max-width: 999.98px) {
        display: none !important;
      }
    }

    &-flex {
      @media (max-width: 999.98px) {
        display: flex !important;
      }
    }

    &-inline {
      @media (max-width: 999.98px) {
        display: inline !important;
      }
    }
  }

  &-md {
    &-none {
      @media (max-width: 719.98px) {
        display: none !important;
      }
    }
  }

  &-sm {
    &-none {
      @media (max-width: 599.98px) {
        display: none !important;
      }
    }

    &-block {
      @media (max-width: 599.98px) {
        display: block !important;
      }
    }

    &-inline {
      @media (max-width: 599.98px) {
        display: inline !important;
      }
    }
  }

  &-xs {
    &-none {
      @media (max-width: 439.98px) {
        display: none !important;
      }
    }

    &-inline {
      @media (max-width: 439.98px) {
        display: inline !important;
      }
    }
  }
}
