.flex {
  &-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &--2x {
      & > * {
        flex: 1 0 calc(50% - 10px);

        @media (max-width: 719.98px) {
          flex: 1 0 100%;
          width: 100%;
        }
      }
    }

    &--3x {
      & > * {
        flex: 1 0 30%;

        @media (max-width: 1099.98px) {
          flex: 1 0 48%;
        }

        @media (max-width: 719.98px) {
          flex: 1 0 100%;
          width: 100%;
        }
      }
    }

    &--4x {
      gap: 20px;

      @media (max-width: 439.98px) {
        gap: 12px;
      }

      & > * {
        flex: 1 0 calc(25% - 15px);
        max-width: calc(25% - 15px);

        @media (max-width: 999.98px) {
          flex: 1 0 calc(33.333333% - 14px);
          max-width: calc(33.333333% - 14px);
        }

        @media (max-width: 719.98px) {
          flex: 1 0 calc(50% - 10px);
          max-width: calc(50% - 10px);
        }

        @media (max-width: 439.98px) {
          flex: 1 0 100%;
          max-width: 100%;
        }
      }
    }

    &--filled {
      & > * {
        flex: 1 1 0;

        @media (max-width: 999.98px) {
          flex: 1 1 40%;
        }

        @media (max-width: 599.98px) {
          flex: 1 0 100%;
          width: 100%;
        }
      }
    }

    &--tab {
      & > * {
        flex: 1 1 0;

        @media (max-width: 1199.98px) {
          flex: 1 1 40%;
        }

        @media (max-width: 719.98px) {
          flex: 1 0 100%;
          width: 100%;
        }
      }
    }

    &--advantages {
      gap: 40px 32px;

      @media (max-width: 999.98px) {
        gap: 20px 12px;
      }

      @media (max-width: 599.98px) {
        gap: 12px 8px;
      }

      & > * {
        flex: 1 0 calc(33.33333% - 22px);
        max-width: calc(33.33333% - 22px);

        @media (max-width: 999.98px) {
          flex: 1 0 calc(50% - 6px);
          max-width: calc(50% - 6px);
        }

        @media (max-width: 599.98px) {
          flex: 1 0 100%;
          max-width: 100%;
        }
      }

      &.slim {
        gap: 16px;

        & > * {
          flex: 1 0 calc(50% - 8px);
          max-width: calc(50% - 8px);

          @media (max-width: 1120px) {
            flex: 1 0 100%;
            max-width: 100%;
          }

          @media (max-width: 999.98px) {
            flex: 1 0 calc(50% - 8px);
            max-width: calc(50% - 8px);
          }

          @media (max-width: 599.98px) {
            flex: 1 0 100%;
            max-width: 100%;
          }
        }
      }
    }

    &--roadmap {
      align-items: stretch;
      gap: 32px;

      @media (max-width: 599.98px) {
        gap: 8px;
      }

      & > * {
        counter-increment: roadmapItems;
        flex: 1 0 calc(33.33333% - 22px);
        max-width: calc(33.33333% - 22px);
        order: var(--i);

        &::before {
          content: counter(roadmapItems);
        }

        @media (max-width: 999.98px) {
          flex: 1 0 calc(50% - 16px);
          max-width: calc(50% - 16px);
        }

        @media (max-width: 599.98px) {
          flex: 1 0 100%;
          max-width: 100%;
        }

        &:last-child {
          &::after {
            display: none;
          }
        }
      }

      &-4x {
        & > * {
          @media (min-width: 600px) {
            flex: 1 0 calc(50% - 16px);
            max-width: calc(50% - 16px);

            &:nth-child(6n + 1) {
              --i: 1;
            }

            &:nth-child(6n + 2) {
              --i: 2;

              &::after {
                top: auto;
                left: 50%;
                bottom: 0%;
                transform: translate(-50%, 115%) rotate(90deg);
              }
            }

            &:nth-child(6n + 3) {
              --i: 4;

              &::after {
                left: 0;
                right: auto;
                transform: translate(-100%, -50%) rotate(180deg);
              }
            }

            &:nth-child(6n + 4) {
              --i: 3;
            }
          }

          @media (max-width: 599.98px) {
            flex: 1 0 100%;
            width: 100%;

            &::after {
              display: none;
            }
          }
        }
      }

      &-3x {
        & > * {
          @media (min-width: 1000px) {
            &:nth-child(6n + 1) {
              --i: 1;
            }

            &:nth-child(6n + 2) {
              --i: 2;
            }

            &:nth-child(6n + 3) {
              --i: 3;
            }
          }

          @media (max-width: 999.98px) {
            &::after {
              display: none;
            }
          }
        }
      }

      &-7x {
        & > * {
          @media (min-width: 1000px) {
            &:nth-child(6n + 1) {
              --i: 1;
            }

            &:nth-child(6n + 2) {
              --i: 2;
            }

            &:nth-child(6n + 3) {
              --i: 3;

              &::after {
                top: auto;
                left: 50%;
                bottom: 0%;
                transform: translate(-50%, 115%) rotate(90deg);
              }
            }

            &:nth-child(6n + 4) {
              --i: 6;

              &::after {
                left: 0;
                right: auto;
                transform: translate(-100%, -50%) rotate(180deg);
              }
            }

            &:nth-child(6n + 5) {
              --i: 5;

              &::after {
                left: 0;
                right: auto;
                transform: translate(-100%, -50%) rotate(180deg);
              }
            }

            &:nth-child(6n + 6) {
              --i: 4;

              &::after {
                top: auto;
                left: 50%;
                bottom: 0%;
                transform: translate(-50%, 115%) rotate(90deg);
              }
            }

            &:nth-child(6n + 7) {
              --i: 7;
            }

            &:nth-child(6n + 8) {
              --i: 8;
            }

            &:nth-child(6n + 9) {
              --i: 9;
            }
          }

          @media (max-width: 999.98px) {
            &:nth-child(6n + 1) {
              --i: 1;
            }

            &:nth-child(6n + 2) {
              --i: 2;

              &::after {
                top: auto;
                left: 50%;
                bottom: 0%;
                transform: translate(-50%, 115%) rotate(90deg);
              }
            }

            &:nth-child(6n + 3) {
              --i: 4;

              &::after {
                left: 0;
                right: auto;
                transform: translate(-100%, -50%) rotate(180deg);
              }
            }

            &:nth-child(6n + 4) {
              --i: 3;

              &::after {
                top: auto;
                left: 50%;
                bottom: 0%;
                transform: translate(-50%, 115%) rotate(90deg);
              }
            }

            &:nth-child(6n + 5) {
              --i: 5;
            }

            &:nth-child(6n + 6) {
              --i: 6;

              &::after {
                top: auto;
                left: 50%;
                bottom: 0%;
                transform: translate(-50%, 115%) rotate(90deg);
              }
            }

            &:nth-child(6n + 7) {
              --i: 7;
              margin-left: auto;
            }
          }

          @media (max-width: 599.98px) {
            &::after {
              display: none;
            }
          }
        }
      }

      &-9x {
        & > * {
          @media (min-width: 1000px) {
            &:nth-child(6n + 1) {
              --i: 1;
            }

            &:nth-child(6n + 2) {
              --i: 2;
            }

            &:nth-child(6n + 3) {
              --i: 3;

              &::after {
                top: auto;
                left: 50%;
                bottom: 0%;
                transform: translate(-50%, 115%) rotate(90deg);
              }
            }

            &:nth-child(6n + 4) {
              --i: 6;

              &::after {
                left: 0;
                right: auto;
                transform: translate(-100%, -50%) rotate(180deg);
              }
            }

            &:nth-child(6n + 5) {
              --i: 5;

              &::after {
                left: 0;
                right: auto;
                transform: translate(-100%, -50%) rotate(180deg);
              }
            }

            &:nth-child(6n + 6) {
              --i: 4;

              &::after {
                top: auto;
                left: 50%;
                bottom: 0%;
                transform: translate(-50%, 115%) rotate(90deg);
              }
            }

            &:nth-child(6n + 7) {
              --i: 7;
            }

            &:nth-child(6n + 8) {
              --i: 8;
            }

            &:nth-child(6n + 9) {
              --i: 9;
            }
          }

          @media (max-width: 999.98px) {
            &:nth-child(6n + 1) {
              --i: 1;
            }

            &:nth-child(6n + 2) {
              --i: 2;

              &::after {
                top: auto;
                left: 50%;
                bottom: 0%;
                transform: translate(-50%, 115%) rotate(90deg);
              }
            }

            &:nth-child(6n + 3) {
              --i: 4;

              &::after {
                left: 0;
                right: auto;
                transform: translate(-100%, -50%) rotate(180deg);
              }
            }

            &:nth-child(6n + 4) {
              --i: 3;

              &::after {
                top: auto;
                left: 50%;
                bottom: 0%;
                transform: translate(-50%, 115%) rotate(90deg);
              }
            }

            &:nth-child(6n + 5) {
              --i: 5;
            }

            &:nth-child(6n + 6) {
              --i: 6;

              &::after {
                top: auto;
                left: 50%;
                bottom: 0%;
                transform: translate(-50%, 115%) rotate(90deg);
              }
            }

            &:nth-child(6n + 7) {
              --i: 8;

              &::after {
                left: 0;
                right: auto;
                transform: translate(-100%, -50%) rotate(180deg);
              }
            }

            &:nth-child(6n + 8) {
              --i: 7;

              &::after {
                top: auto;
                left: 50%;
                bottom: 0%;
                transform: translate(-50%, 115%) rotate(90deg);
              }
            }

            &:nth-child(6n + 9) {
              --i: 9;
            }
          }

          @media (max-width: 599.98px) {
            &::after {
              display: none;
            }
          }
        }
      }

      &-cycle {
        & > * {
          @media (min-width: 600px) {
            &:last-child {
              --i: 2;

              &::after {
                display: block;
                top: -5px;
                left: 50%;
                bottom: auto;
                transform: translate(-50%, -100%) rotate(270deg);
              }
            }
          }
        }
      }

      &-column {
        flex-direction: column;

        & > * {
          max-width: 100%;
          flex: 1;

          &::after {
            top: auto !important;
            left: 50%;
            bottom: 0% !important;
            transform: translate(-50%, 115%) rotate(90deg) !important;

            @media (max-width: 599.98px) {
              display: none;
            }
          }
        }
      }

      &-nothing {
        & > * {
          &::after {
            display: none;
          }
        }
      }

      &.not-numbers {
        & > .card--roadmap {
          & > h1::before,
          & > h2::before,
          & > h3::before,
          & > h4::before,
          & > h5::before,
          & > h6::before,
          & > b::before {
            display: none;
          }
        }
      }
    }

    &--map {
      & > * {
        flex: 1 0 40%;

        @media (max-width: 899.98px) {
          flex: 1 0 100%;
          width: 100%;
        }
      }
    }

    &--about {
      gap: 100px;

      @media (max-width: 999.98px) {
        gap: 40px;
      }

      & > * {
        flex: 1 1 40%;

        @media (max-width: 750px) {
          flex: 1 0 100%;
          width: 100%;
        }
      }
    }

    &--service {
      align-items: stretch;
      justify-content: center;
      gap: 40px 20px;

      & > * {
        width: 260px;

        @media (max-width: 1499.98px) {
          width: unset;
          flex: 1;
        }

        @media (max-width: 1199.98px) {
          width: unset;
          max-width: 33%;
        }

        @media (max-width: 999.98px) {
          max-width: unset;
          min-width: calc(50% - 10px);
        }
      }
    }

    &--docs {
      align-items: stretch;
      justify-content: center;
      gap: 20px;

      @media (max-width: 599.98px) {
        gap: 40px 12px;
      }

      & > * {
        width: 260px;

        @media (max-width: 1199.98px) {
          flex-basis: 200px;
          width: auto;
        }

        @media (max-width: 999.98px) {
          flex-basis: calc(50% - 10px);
          max-width: calc(50% - 10px);
        }

        @media (max-width: 599.98px) {
          flex-basis: calc(50% - 6px);
          max-width: calc(50% - 6px);
        }
      }
    }

    &--use {
      align-items: stretch;
      justify-content: center;
      gap: 20px;
      margin: 65px auto 25px;

      @media (max-width: 599.98px) {
        gap: 12px;
        margin: 45px auto 0;
      }

      & > * {
        width: 240px;
        flex-basis: 240px;

        @media (max-width: 1199.98px) {
          flex-basis: 220px;
          width: 220px;
        }

        @media (max-width: 999.98px) {
          flex-basis: calc(50% - 10px);
          max-width: calc(50% - 10px);
        }

        @media (max-width: 599.98px) {
          flex-basis: calc(25% - 9px);
          max-width: calc(25% - 9px);
        }
      }
    }

    &--maximum {
      gap: 48px 20px;

      & > * {
        flex: 1 1 0;

        @media (max-width: 1199.98px) {
          flex: 1 1 40%;
        }

        @media (max-width: 719.98px) {
          flex: 1 0 100%;
          width: 100%;
        }
      }
    }

    &--prices {
      flex-wrap: nowrap;
      gap: 20px;

      @media (max-width: 999.98px) {
        flex-wrap: wrap;
        gap: 12px;
      }

      & > * {
        flex: 1 1 0;

        @media (max-width: 1399.98px) {
          flex: 1 0 calc(25% - 15px);
        }

        @media (max-width: 1100px) {
          flex: 1 0 calc(33.33333% - 15px);
        }

        @media (max-width: 999.98px) {
          flex: 1 0 calc(50% - 6px);
          max-width: calc(50% - 6px);
          min-width: unset !important;

          &:nth-child(5) {
            display: none;
          }
        }
      }
    }

    &--branches {
      width: 100%;
      gap: 20px;

      @media (max-width: 719.98px) {
        flex-direction: column;
      }

      & > * {
        &:first-child {
          max-width: 35%;
          width: 100%;

          @media (max-width: 719.98px) {
            max-width: 100%;
          }
        }
      }

      & iframe {
        flex: 1;
        width: 100%;
        border-radius: 25px;
        overflow: hidden;

        @media (max-width: 999.98px) {
          aspect-ratio: 16 / 10;
          height: 100%;
        }

        @media (max-width: 599.98px) {
          border-radius: 16px;
          aspect-ratio: 1 / 1;
        }
      }
    }

    &--groups {
      & > * {
        flex-direction: column;
        width: 100%;
        max-width: calc(25% - 15px);
        flex-basis: calc(25% - 15px);
        margin: 0;

        @media (max-width: 1399.98px) {
          max-width: calc(33.333333% - (20px / 1.5));
          flex-basis: calc(33.333333% - (20px / 1.5));
        }

        @media (max-width: 1199.98px) {
          max-width: 50%;
          flex-basis: calc(50% - (20px / 2));
        }

        @media (max-width: 999.98px) {
          flex-basis: calc(50% - (20px / 2)) !important;
        }

        @media (max-width: 768px) {
          max-width: 100%;
          flex-basis: 100% !important;
        }
      }
    }

    &--split {
      display: flex;
      gap: 48px;

      @media (max-width: 999.98px) {
        flex-direction: column;
        flex-wrap: nowrap;
      }

      &.early {
        @media (max-width: 1199.98px) {
          flex-direction: column;
          flex-wrap: nowrap;
        }

        & > .left {
          max-width: calc(100% - 430px - 20px);

          @media (max-width: 1199.98px) {
            max-width: 100%;
          }
        }
      }

      &.centered {
        max-width: 900px;
        margin: 0 auto;

        & > .right {
          @media (max-width: 1199.98px) {
            max-width: 400px;
            margin: 0 auto;
          }
        }
      }

      & > .left {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 16px;
        flex: 1;

        @media (max-width: 999.98px) {
          max-width: 100%;
        }
      }

      & > .right {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 16px;
        flex: 1 1 30%;
        max-width: 400px;

        @media (max-width: 999.98px) {
          max-width: 100%;
        }

        & .achievements-slider {
          margin: 0 auto;
        }

        & .card--leaders {
          max-width: 100%;
          margin: 0 auto;

          @media (max-width: 999.98px) {
            max-width: 400px;
          }
        }

        &.fixed-bottom {
          @media (max-width: 999.98px) {
            position: sticky;
            top: calc(100vh - 310px);
            bottom: 0;
            width: calc(100% + 80px);
            max-width: none;
            margin-left: -40px;
          }

          @media (max-width: 599.98px) {
            width: calc(100% + 40px);
            margin-left: -20px;
          }

          @media (max-width: 439.98px) {
            width: calc(100% + 20px);
            margin-left: -10px;
          }
        }
      }
    }

    &--team {
      gap: 12px;

      & > * {
        max-width: calc(25% - 10px);
        flex: calc(25% - 10px);

        @media (max-width: 1279.98px) {
          max-width: calc(33.33333% - 10px);
          flex: calc(33.33333% - 10px);
        }

        @media (max-width: 859.98px) {
          max-width: calc(50% - 10px);
          flex: calc(50% - 10px);
        }

        @media (max-width: 599.98px) {
          max-width: 100%;
          flex: 1 1 100%;
        }
      }
    }
  }

  &-row {
    flex-direction: row !important;
  }

  &-column {
    flex-direction: column !important;
  }

  &-nowrap {
    flex-wrap: nowrap !important;
  }

  &-wrap {
    flex-wrap: wrap !important;
  }

  &-50 {
    flex: 1 1 40%;
  }

  &-xl {
    &-column {
      @media (max-width: 1199.98px) {
        flex-direction: column !important;
      }
    }

    &-wrap {
      @media (max-width: 1199.98px) {
        flex-wrap: wrap !important;
      }
    }
  }

  &-lg {
    &-row {
      @media (max-width: 999.98px) {
        flex-direction: row !important;
      }
    }

    &-column {
      @media (max-width: 999.98px) {
        flex-direction: column !important;
      }
    }

    &-wrap {
      @media (max-width: 999.98px) {
        flex-wrap: wrap !important;
      }
    }

    &-nowrap {
      @media (max-width: 999.98px) {
        flex-wrap: nowrap !important;
      }
    }
  }

  &-md {
    &-column {
      @media (max-width: 719.98px) {
        flex-direction: column !important;
      }
    }

    &-wrap {
      @media (max-width: 719.98px) {
        flex-wrap: wrap !important;
      }
    }
  }

  &-sm {
    &-wrap {
      @media (max-width: 599.98px) {
        flex-wrap: wrap !important;
      }
    }

    &-column {
      @media (max-width: 599.98px) {
        flex-direction: column !important;
      }

      &-reverse {
        @media (max-width: 599.98px) {
          flex-direction: column-reverse !important;
        }
      }
    }
  }

  &-xs {
    &-column {
      @media (max-width: 439.98px) {
        flex-direction: column !important;
      }
    }
  }

  &-1 {
    flex: 1;
  }

  &-2 {
    flex: 2;
  }

  &-3 {
    flex: 3;
  }
}

.align {
  &-center {
    align-items: center !important;
  }

  &-baseline {
    align-items: baseline !important;
  }

  &-bottom {
    align-items: flex-end !important;
  }

  &-self {
    &-baseline {
      align-self: baseline;
    }

    &-start {
      align-self: flex-start;
    }

    &-end {
      align-self: flex-end;
    }

    &-center {
      align-self: center;
    }

    &-lg {
      &-center {
        @media (max-width: 999.98px) {
          align-self: center;
        }
      }
    }

    &-md {
      @media (max-width: 719.98px) {
        &-stretch {
          align-self: stretch;
        }
      }
    }

    &-sm {
      &-center {
        @media (max-width: 599.98px) {
          align-self: center;
        }
      }
    }
  }

  &-stretch {
    align-items: stretch !important;
  }

  &-start {
    align-items: flex-start !important;
  }

  &-end {
    align-items: flex-end !important;
  }

  &-md {
    &-center {
      @media (max-width: 719.98px) {
        align-items: center !important;
      }
    }

    &-stretch {
      @media (max-width: 719.98px) {
        align-items: stretch !important;
      }
    }
  }

  &-lg {
    &-center {
      @media (max-width: 999.98px) {
        align-items: center !important;
      }
    }

    &-stretch {
      @media (max-width: 999.98px) {
        align-items: stretch !important;
      }
    }
  }

  &-xl {
    &-start {
      @media (max-width: 1199.98px) {
        align-self: flex-start !important;
      }
    }

    &-center {
      @media (max-width: 1199.98px) {
        align-items: center !important;
      }
    }
  }
}

.justify {
  &-center {
    justify-content: center;
  }

  &-start {
    justify-content: flex-start;
  }

  &-end {
    justify-content: flex-end;
  }

  &-around {
    justify-content: space-around;
  }

  &-between {
    justify-content: space-between;
  }

  &-evenly {
    justify-content: space-evenly;
  }

  &-sb {
    justify-content: space-between;
  }

  &-xxl {
    &-center {
      @media (max-width: 1360px) {
        justify-content: center;
      }
    }
  }

  &-xl {
    &-center {
      @media (max-width: 1199.98px) {
        justify-content: center;
      }
    }
  }

  &-lg {
    &-center {
      @media (max-width: 999.98px) {
        justify-content: center;
      }
    }
  }

  &-md {
    &-center {
      @media (max-width: 719.98px) {
        justify-content: center;
      }
    }
  }

  &-sm {
    &-center {
      @media (max-width: 599.98px) {
        justify-content: center;
      }
    }

    &-start {
      @media (max-width: 599.98px) {
        justify-content: flex-start;
      }
    }
  }

  &-self {
    &-start {
      justify-self: start;
    }

    &-end {
      justify-self: end;
    }
  }
}
