.grid {
  &-layout {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;

    &--2x {
      grid-template-columns: repeat(2, 1fr);

      @media (max-width: 750px) {
        grid-template-columns: 1fr;
      }
    }

    &--3x {
      grid-template-columns: repeat(3, 1fr);

      @media (max-width: 1100px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 750px) {
        grid-template-columns: 1fr;
      }
    }

    &--team {
      grid-template-columns: repeat(4, 1fr);

      @media (max-width: 1199.98px) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media (max-width: 839.98px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 599.98px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  &-cols {
    &-3 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      @media (max-width: 1199.98px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 719.98px) {
        grid-template-columns: 1fr;
      }
    }

    &-4 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 20px;
      row-gap: 32px;

      @media (max-width: 999.98px) {
        grid-template-columns: 1fr 1fr;
      }

      @media (max-width: 599.98px) {
        grid-template-columns: 1fr;
      }
    }

    &--about {
      @media (min-width: 1280px) {
        grid-template-columns: 1fr 1fr 400px;
      }
    }
  }
}
