.container {
  max-width: 1442px;
  margin: 0 auto;

  @media (max-width: 1499.98px) {
    max-width: 100%;
    margin: 0 40px;
  }

  @media (max-width: 599.98px) {
    margin: 0px 20px;
  }

  @media (max-width: 439.98px) {
    margin: 0 10px;
  }

  &-full {
    width: 100%;
    margin: 0 auto !important;

    @media (max-width: 1499.98px) {
      padding: 0 40px;
    }

    @media (max-width: 599.98px) {
      padding: 0px 20px;
    }

    @media (max-width: 439.98px) {
      padding: 0 10px;
    }
  }

  &-blog {
    max-width: 1170px;
    margin: 0 auto;

    @media (max-width: 1219.98px) {
      max-width: 100%;
      margin: 0 40px;
    }

    @media (max-width: 999.98px) {
      max-width: 970px;
    }

    @media (max-width: 599.98px) {
      margin: 0px 20px;
      max-width: 600px;
    }

    @media (max-width: 439.98px) {
      margin: 0 10px;
    }
  }
}