.domain {
  &-table {
    width: 100%;
    outline: 1px solid var(--blue-main);
    background-color: var(--blue-bg);

    tr {
      border-bottom: 1px solid var(--blue-main);

      &:last-child {
        border-bottom: none;
      }

      td,
      th {
        &:not(:first-child) {
          border-left: 1px solid var(--blue-main);
        }
      }
    }

    tbody tr {
      td {
        background-color: var(--bg-main);
      }
    }

    &.start {
      & tr {
        vertical-align: top;
      }
    }
  }
}
