.portfolio-slider {
  display: flex;
}

.sites {
  &-portfolio {
    &-slider {
      gap: 8px;
      display: flex;
      align-items: stretch;

      &.logo-slider {
        min-height: unset;
        align-items: stretch;
      }

      & > * {
        &:not(.active) {
          opacity: 0;
        }
      }
    }
  }

  &-reviews {
    position: relative;

    &-slider {
      display: flex;
      gap: 32px;
      overflow-y: visible;
      width: fit-content;

      @media (max-width: 899.98px) {
        gap: 12px;
      }

      @media (max-width: 599.98px) {
        gap: 20px;
      }
    }

    & > .container {
      position: relative;
    }

    .pagination {
      margin-bottom: 32px;
    }

    .button-link.big {
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translateY(50%);

      @media (max-width: 719.98px) {
        position: relative;
        bottom: unset;
        right: unset;
        margin-right: auto;
        margin-left: auto;
        transform: none;
      }
    }
  }
}
