.reviews {
  @media (max-width: 999.98px) {
    background: linear-gradient(
      0deg,
      rgba(0, 234, 255, 0) 0%,
      rgba(0, 234, 255, 0.35) 15%,
      rgba(0, 234, 255, 0.35) 85%,
      rgba(0, 234, 255, 0) 100%
    );
  }
}

.reviews,
.blogs {
  &__inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    gap: 12px;
    flex-wrap: wrap;
    width: 100%;

    @media (max-width: 999.98px) {
      gap: 8px;
    }

    @media (max-width: 599.98px) {
      gap: 0;
    }

    & > * {
      flex: 1;
    }
  }

  &__button {
    @include tab-button;
    @include tab-button-reviews;
  }

  &__wrapper {
    @include tabs-content;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 32px;
    width: 100%;
    padding: 32px 0;
    background: linear-gradient(
      180deg,
      rgb(10, 10, 10) 0%,
      rgb(10, 10, 10) 82%,
      rgba(10, 10, 10, 0.8) 91%,
      rgba(10, 10, 10, 0.6) 96%,
      rgba(10, 10, 10, 0) 100%
    );
    transition: 0.25s ease-in-out;
  }

  &__layout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 32px;
    width: 100%;

    @media (max-width: 999.98px) {
      flex-direction: column;
      align-items: center;
      flex-wrap: unset;
      gap: 30px;
    }

    & > .reviews__rates {
      @media (min-width: 1000px) {
        max-width: 240px;
        flex: 0 0 33%;
        padding-bottom: 100px;
      }
    }

    & > .reviews__container {
      flex: 1;
      max-width: 100%;
    }
  }

  &__rates {
    position: sticky;
    top: 80px;
    width: 100%;
    max-width: 238px;

    @media (max-width: 999.98px) {
      position: relative;
      top: unset;
    }

    & > p {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 0;
    }

    &-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      & > p {
        font-size: 64px;
        line-height: 1;
        font-weight: 500;
        margin-bottom: 0;
      }

      &--stars {
        margin-left: 4px;

        & > p {
          font-weight: 500;
          width: fit-content;

          &:first-child {
            margin-bottom: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }

        & > div {
          display: flex;
          gap: 4px;

          & > i {
            display: flex;
            font-size: 12px;
          }
        }
      }
    }

    &-percentage {
      margin-top: 32px;
      gap: 12px;

      & progress {
        background-color: var(--neutral45);
        width: 140px;
      }

      & div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;

        & p {
          margin-bottom: 0;

          &:first-child {
            width: 11px;
            font-size: 14px;
            line-height: 20.8px;
            color: var(--primary65);
          }

          &:last-child {
            color: var(--neutral45);
            width: 38px;
            font-size: 14px;
            font-weight: 600;
            line-height: 18.8px;
            text-align: right;
          }
        }

        & i {
          height: 15.5px;
        }

        & span {
          width: 100%;
          max-width: 137.5px;
          border: 2px solid var(--neutral45);
          border-radius: 2px;
        }

        &.active {
          & span {
            border-color: var(--primary65);
          }

          & p {
            &:last-child {
              color: var(--primary65);
            }
          }
        }
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;

    @media (max-width: 999.98px) {
      gap: 30px;
    }

    & > a {
      margin-left: auto;
    }

  }

  &__list {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 12px;
    width: 100%;

    transform-origin: top center;

    &.show {
      animation: burgerAppear 0.5s ease-in-out;
    }

    & .card {
      flex: 1 1 360px;

      &-rate {
        & > b {
          @media (max-width: 599.98px) {
            display: none;
          }
        }
      }
    }
  }

  & .button-link.big {
    position: unset;
    top: unset;
    left: unset;
    right: unset;
    bottom: unset;
    transform: none;
  }
}

.blogs {
  &__list {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;

    & .card {
      flex: unset;
      width: 100%;
    }
  }
}

.blog_page {
  padding-top: 0;

  &:not(.wider) {
    & > .container {
      @include blogContainer;
    }
  }

  &:is(.wider) {
    & > .container {
      @media (min-width: 1000px) {
        display: grid;
        align-items: flex-start;
      }

      @media (min-width: 1200px) {
        grid-template-columns: 300px 1fr;
        gap: 40px;
      }
    }
  }

  & > .container {
    background: linear-gradient(
      0deg,
      rgba(0, 234, 255, 0) 0%,
      rgba(0, 234, 255, 0.1) 15%,
      rgba(0, 234, 255, 0.1) 85%,
      rgba(0, 234, 255, 0) 100%
    );

    padding: 0 52px;

    @media (max-width: 1499.98px) {
      padding: 0 40px;
    }

    @media (max-width: 599.98px) {
      padding: 0 20px;
    }

    @media (max-width: 439.98px) {
      padding: 0 10px;
    }

    .img-wrapper {
      display: flex;
      margin: 52px auto;
      overflow: hidden;
      max-width: 520px;
      width: fit-content;
      border-radius: 25px;
      display: flex;

      &:first-child {
        margin-top: 0;
      }

      img {
        max-width: 100%;
        width: auto;
        height: auto;
      }
    }

    & > h3,
    & > h4,
    & > p.title_h3,
    & > p.title_h4 {
      margin-top: 52px;

      &:first-child {
        margin-top: 0;
      }
    }

    & > .highlighted-space {
      background-color: var(--bg-main);
      border-radius: 16px;
      padding: 12px 20px;
      border: 1px solid var(--blue-main);

      &.d-flex {
        align-items: start;
      }
    }

    & > .default-table {
      margin-bottom: 20px;
    }
  }
}

.ordinary-list {
  .ordinary-list {
    margin-top: 12px;
    margin-bottom: 16px;

    li::marker {
      content: "-";
    }
  }
}
