.store {
  &-ai {
    &.web-shop-diagram {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      height: fit-content;
      gap: 0;

      @media (max-width: 999.98px) {
        .title_h4 {
          margin-bottom: 52px;
        }
      }

      .benefits-left,
      .benefits-right {
        height: 430px;
        top: 200px;
        justify-content: space-between;

        @media (max-width: 1250px) {
          height: 400px;
        }

        @media (min-width: 1000px) and (max-width: 1250px) {
          width: 320px;
        }

        @media (max-width: 999.98px) {
          display: flex;
          position: static;
          height: fit-content;
          justify-content: unset;
          gap: 32px;
          width: 100%;
          margin: 0;

          .benefit-card {
            width: 100%;
            max-width: unset;
            margin: 0;
          }
        }
      }
    }

    &.web-shop-diagram div.video-diagramm .connections .line {
      background-color: var(--blue-bg);

      &:before,
      &:after {
        background-color: transparent;
      }
    }

    .benefits-left {
      order: 2;
    }

    .benefits-right {
      order: 3;
    }

    .video-diagramm {
      order: 0;

      @media (max-width: 999.98px) {
        display: none;
      }
    }

    .benefit-card {
      width: 100%;
      padding: 20px;
      min-height: unset;
      cursor: default;

      &:has(input:checked) {
        img {
          filter: brightness(0.3);
        }

        &::before {
          background-color: var(--blue-main);
        }
      }

      .content-hidden {
        display: none;

        @media (max-width: 999.98px) {
          display: block;
          color: var(--color-grey);
          margin-top: 12px;

          li {
            padding-left: 8px;
            margin-top: 4px;

            &::marker {
              content: "\2022";
            }
          }
        }
      }

      img {
        width: 34px;
        height: 34px;
      }
    }

    .video-diagramm {
      .water-ripple-video {
        z-index: 1 !important;
      }

      .connections {
        z-index: 0;
      }

      .store-text {
        width: 100%;
        height: 100%;
        position: relative;
        background-color: var(--blue-main);
        z-index: 2;
        text-align: center;
        border-radius: 50%;
        padding: 56px 20px;
        color: var(--bg-main);
        display: flex;
        justify-content: center;
        align-items: center;

        &-target {
          margin: 0;
          transition: 0.25s ease-in-out;

          &.transition {
            opacity: 0;
          }
        }
      }

      @media (max-width: 999.98px) {
        margin: 52px auto;
      }
    }
  }

  &-ai {
    .benefits-right,
    .benefits-left {
      top: 60px !important;
    }

    @media (max-width: 1250px) {
      .benefits-right,
      .benefits-left {
        top: 80px !important;
      }
    }

    @media (max-width: 1100px) {
      .benefits-right,
      .benefits-left {
        top: 76px !important;
      }
    }

    @media (max-width: 999.98px) {
      .benefits-right,
      .benefits-left {
        margin-top: 32px !important;
      }
    }
  }

  &-integration {
    ul {
      padding-left: 12px;

      li {
        padding-left: 12px;
        margin-bottom: 12px;

        &::marker {
          color: var(--blue-main);
          content: "\2022";
          margin-right: 12px;
        }
      }
    }

    .flying-orb {
      top: 40px;
      bottom: unset;

      img {
        width: 282px;
        height: auto;

        @media (max-width: 1199.98px) {
          width: 212px;
          height: auto;
        }

        @media (max-width: 899.98px) {
          width: 152px;
          height: auto;
        }
      }

      @media (max-width: 1199.98px) {
        top: 90px;
      }

      @media (max-width: 899.98px) {
        top: 140px;
      }

      @media (max-width: 599.98px) {
        display: none;
      }
    }

    &-schema {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-evenly;
      margin-top: 52px;
      margin-bottom: 32px;

      @media (max-width: 899.98px) {
        flex-wrap: wrap;

        .block:nth-child(1),
        .block:nth-child(3) {
          flex: 1 1 48%;
        }

        .block:last-child {
          flex: 1 1 30%;
        }

        .separator:nth-child(4) {
          flex: 1 1 100%;
          margin: 20px 0px;
          min-height: 1px;
          background-color: var(--blue-clouds);
        }

        .block {
          flex: 1 1 0%;
        }
      }

      @media (max-width: 420px) {
        .block:nth-child(1),
        .block:nth-child(3),
        .block:last-child {
          flex: 1 1 90%;
        }

        .separator:nth-child(4),
        .separator:nth-child(2),
        .separator:nth-child(6) {
          flex: 1 1 100%;
          margin: 20px 0px;
          min-height: 1px;
          background-color: var(--blue-clouds);
        }
      }

      .separator {
        min-height: 120px;
        height: 100%;
        width: 1px;
        background-color: var(--blue-main);
      }

      .block {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 12px;

        @media (max-width: 599.98px) {
          column-gap: 4px;
        }

        .title_h5 {
          flex: 1 1 90%;
          margin: 0 auto;
        }

        .item {
          flex: 1 1 0;
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: center;
          text-align: center;

          img {
            width: 40px;
            height: 40px;
            margin-bottom: 12px;
          }
        }
      }
    }
  }
}
