.main-title {
  @media (min-width: 1000px) {
    @include h2;

    & span {
      font-size: 28px;
    }
  }
}

.error {
  &-block {
    position: relative;

    & .back-text {
      margin: 0;
      font-size: 132px;
      color: var(--blue-main);
      opacity: 0.2;
      user-select: none;
    }

    & .front-text {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      white-space: nowrap;
      transform: translate(-50%, -50%);
    }
  }
}
