.main-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 440px) {
    justify-content: unset;
  }

  & #mobilemenuToggle {
    display: none;
  }

  & .header-links-nav,
  & nav.header-links-nav {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;

    .mobile-visible {
      display: none;

      @media (max-width: 1000px) {
        display: block;

        &:not(.button-highlight) {
          color: var(--color-white);

          &:hover {
            color: var(--blue-main);
          }
        }

        &.button-highlight {
          width: 100%;
          max-width: 400px;
          justify-self: end;
          margin-top: auto;
          text-align: center;
          color: var(--color-black);
        }
      }

      @media (max-width: 601px) {
        display: block;

        &:not(.button-highlight) {
          color: var(--color-white);

          &:hover {
            color: var(--blue-main);
          }
        }

        &.button-highlight {
          width: calc(100% - 20px);
          position: fixed;
          bottom: 20px;
          text-align: center;
          color: var(--color-black);
        }
      }
    }

    @media (max-width: 1000px) {
      display: none;

      &::after {
        position: absolute;
        top: 25%;
        right: -40%;
        color: var(--blue-bg-icon);
        font-family: 'INTRID_ICONS';
        content: '\64';
        font-size: 500px;
        transition: all 0.3s ease;
      }

      hr {
        margin: 0;
        width: 125px;
      }
    }

    @media (max-width: 601px) {
      display: none;

      & a,
      & div {
        z-index: 3;
      }

      &::after {
        position: absolute;
        top: 25%;
        right: -40%;
        color: var(--blue-bg-icon);
        font-family: 'INTRID_ICONS';
        content: '\64';
        font-size: 500px;
        transition: all 0.3s ease;
        z-index: 0;
      }

      & hr {
        margin: 0;
        width: 20%;
      }
    }

    @media (max-width: 440px) {
      padding: 10px !important;
    }
  }

  & a.main-logo {
    min-width: 29px;
    max-width: 29px;
    max-height: 29px;
    margin-right: 100px;
    border-radius: 20px;

    @media (max-width: 1000px) {
      max-height: 24px;
      max-width: 24px;
      min-width: 24px;
      margin-right: 76px;

      img {
        height: 24px;

        @media (max-width: 601px) {
          height: 24px;
        }
      }
    }

    @media (max-width: 440px) {
      margin-right: 75px;

      img {
        height: 24px;
      }
    }

    &:hover {
      animation: logo-hover 1s cubic-bezier(0.39, 0.575, 0.565, 1);
      box-shadow: 0px 0px 25px 15px var(--blue-clouds);
    }
  }

  & .header-contacts {

    @media (max-width: 1400px) {
      display: none;
    }

    a.phone-line {
      color: var(--color-white);
      display: flex;
      flex-direction: row;
      text-wrap: nowrap;
      align-items: center;

      &:hover {
        color: var(--blue-main);
        text-shadow: var(--blue-main) 0px 0px 10px;
      }
    }
  }

  & .icon-menu {

    @media (max-width: 1000px) {
      margin-left: auto;
    }

    @media (max-width: 601px) {
      margin-left: auto;
    }

    @media (max-width: 440px) {
      margin-left: auto;
      gap: 12px;
    }
  }
}

.navbar {
  z-index: 4;
  width: 100%;
  height: 60px;
  background-color: var(--navbar-bg-op);
  display: flex;
  flex-direction: row;
  position: fixed;

  &:has(#menuCheckbox:checked),
  &:has(#menuToggle:checked) {
    background-color: var(--bg-main);
  }

  .main-header .burger .burger-content {
    background-color: var(--bg-main);
  }

  &.scrolled {
    background-color: var(--bg-main);
  }

  & .logo {
    position: relative;
    display: block;
    z-index: 2;
    height: fit-content;
    display: flex;

    img {
      align-self: center;
    }
  }

  & .logo_text {
    font-size: 31px;
    font-weight: 600;
  }
}

#lk-link i {
  color: var(--blue-main);

  &:hover {
    text-shadow: var(--blue-main) 1px 0 10px;
  }
}

.work-time {
  color: var(--color-grey);
}

.nav-link {
  cursor: pointer;
  padding: 12px 0px 12px 12px;
  background-color: transparent;
  color: var(--color-white);
  font-size: 16px;

  &::before {
    position: absolute;
    content: '\2022';
    transform: translateX(-10px);
    color: var(--blue-main);
  }
}

.dropdown,
.burger,
.mobile-burger {
  position: relative;
  display: inline-block;
  border-radius: 0px;
  width: fit-content;
}

.mobile-burger {
  @media (max-width: 1000px) {
    flex-grow: 0;
    order: 3;
  }

  @media (max-width: 601px) {
    flex-grow: 0;
    order: 3;
  }

  @media (max-width: 440px) {
    margin-left: auto;
  }
}

.burger {
  & .burger-content a.work-time {
    padding: 12px 16px;
    color: var(--color-grey);
    text-wrap: wrap;
    display: block;
    width: fit-content;

    &:hover {
      color: var(--blue-main);
    }
  }

  @media (max-width: 1000px) {
    display: none;
  }
}

.dropdown-content,
.burger-content {
  color: var(--color-white);
  display: none;
  position: absolute;
  top: 42px;
  height: 0px;
  z-index: 1;
  padding: 20px 16px;
  border-bottom-left-radius: 46px;
  border-bottom-right-radius: 46px;
  transition: height 0.5s ease-in-out;

  & a {
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    color: var(--color-white);
    text-wrap: nowrap;

    &:hover {
      color: var(--blue-main);
    }
  }

  & hr {
    background-color: var(--color-white);
  }
}

.burger-content {
  right: 0;
  opacity: 0;
}

#menuToggle {

  @media (max-width: 1000px) {
    display: none;
  }

  @media (max-width: 601px) {
    display: none;
  }

  &:has(input:checked) {
    &~.burger-content {
      opacity: 1;
      height: fit-content;
      display: block;
      transform-origin: top;
      animation: burgerAppear 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }
}

.dropdown {
  &.second {

    & .dropdown-content {
      top: 44px;
      color: var(--color-white);
      flex-direction: column;
      gap: 10px;
      display: none;
      position: absolute;
      background-color: var(--blue-bg);
      z-index: 1;
      padding: 12px 20px;
      border-radius: 0;

      &::before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 3px;
        background-color: var(--blue-bg);
        top: -8px;
        transform: rotate(45deg);
      }

      & .burger-hidden {
        &.highlight {
          color: var(--color-white) !important;
          font-size: 16px;
        }

        @media (min-width: 1000px) {
          display: none;
        }
      }

      & a {
        padding: 0px;

        @media (max-width: 601px) {
          text-wrap: wrap;
        }
      }

      & hr {
        margin: 0;
        border-color: var(--color-white);
      }
    }

    & .nav-link {
      @media (max-width: 601px) {
        pointer-events: none;
        position: relative;
        padding: 10px;
        padding-right: 14px;
        padding-left: 0;

        &::before {
          position: absolute;
          top: 10px;
          right: -10px;
          font-family: 'INTRID_ICONS';
          content: '\6d';
          font-size: 0.9em;
          transition: all 0.3s ease;
        }

        &::after {
          position: absolute;
          top: 10px;
          right: 0;
          font-family: 'INTRID_ICONS';
          content: '\6d';
          font-size: 0.9em;
          transition: all 0.3s ease;
        }
      }
    }

    &:hover {
      & .nav-link {
        text-decoration: underline var(--blue-main);
        text-underline-offset: 3px;
      }

      & .dropdown-content {
        display: flex;
        flex-direction: column;
        height: fit-content;
        gap: 10px;

        @media (max-width: 440px) {
          top: 20px;
          padding: 0px;
        }
      }
    }

    &:hover,
    &:active {
      color: var(--blue-main);

      .nav-link {
        color: var(--blue-main);
        text-underline-offset: 17px;
        text-decoration-color: var(--blue-clouds);

        &::after {
          transform: translateX(5px);
        }
      }

      .dropdown-content {
        transform-origin: left;
        animation: burger-links-appear 0.5s ease-in-out;
        background-color: transparent;
        left: 175px;
        right: unset;
        top: 7px;

        &::before {
          display: none;
        }

        a {
          color: var(--color-grey);
        }

        hr {
          width: 80%;
        }
      }
    }

    @media (max-width: 1000px) {
      position: static;

      .nav-link {
        position: relative;
        padding: 10px;
        padding-right: 14px;
        padding-left: 0;

        &::before {
          position: absolute;
          top: 10px;
          right: -10px;
          font-family: 'INTRID_ICONS';
          content: '\6d';
          font-size: 0.9em;
          transition: all 0.3s ease;
        }

        &::after {
          position: absolute;
          top: 10px;
          right: 0;
          font-family: 'INTRID_ICONS';
          content: '\6d';
          font-size: 0.9em;
          transition: all 0.3s ease;
        }
      }

      &:hover {
        color: var(--blue-main);

        .nav-link {
          color: var(--blue-main);
          text-underline-offset: 17px;
          text-decoration-color: var(--blue-clouds);

          &::after {
            transform: translateX(5px);
          }
        }

        .dropdown-content {
          transform-origin: left;
          animation: burger-links-appear 0.5s ease-in-out;
          background-color: transparent;
          left: 195px;
          top: 19px;

          &::before {
            display: none;
          }

          a {
            color: var(--color-grey);

            &:hover {
              color: var(--color-white);
              text-decoration: underline;
              text-underline-offset: 4px;
              text-decoration-color: var(--blue-main);
            }
          }

          hr {
            width: 80%;
          }
        }
      }
    }

    @media (max-width: 601px) {
      position: static;
    }
  }
}

.mobile-burger,
#menuToggle,
#mobilemenuToggle {
  display: block;
  /* You can also use relative/absolute here if you want to stay on the top */
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;

  @media (max-width: 1000px) {
    display: block;
    position: static;
    margin-left: 10px;
  }

  @media (max-width: 601px) {
    display: block;
    position: static;
  }

  & input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;

    @media (max-width: 1000px) {
      top: 11px;
      right: 36px;
      left: unset;
    }

    @media (max-width: 601px) {
      top: 11px;
      right: 16px;
      left: unset;
    }

    &:checked {
      &~span {
        opacity: 1;
        transform: rotate(-45deg) translate(-1px, -2px);
        background: var(--blue-main);

        &:nth-last-child(2) {
          opacity: 0;
          transform: rotate(0deg) scale(0.1, 0.1);
        }

        &:nth-last-child(3) {
          transform: rotate(45deg) translate(0, -1px);
        }
      }
    }

    &:has(:checked) {
      &~.header-links-nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        height: calc(100vh - 60px);
        padding: 20px 40px;
        left: 0;
        top: 60px;
        background-color: var(--bg-main);
        align-items: flex-start;
      }
    }
  }

  & span {
    display: block;
    width: 31px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;

    background: var(--color-white);
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;

    &:first-child {
      transform-origin: 0% 0%;
    }

    &:nth-last-child(2) {
      transform-origin: 0% 100%;
    }
  }
}