.popup {
  // display: none;
  position: fixed;
  top: 0;
  z-index: 5;
  display: flex;
  min-width: 200px;
  width: 100vw;
  height: 100vh;
  padding: 20px 10px;
  background-color: rgba(0, 0, 0, 0.75);
  // backdrop-filter: blur(5px);
  visibility: hidden;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  transform-origin: center;
  transform: scale(1.25);
  transition: 0.25s ease-in-out;

  video {
    border-radius: 10px;
    max-width: 90vw;
  }

  &.open {
    // display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    // animation: popupAppear 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  &-opened {
    position: static;
    width: 100%;
    height: 100%;
    overflow: hidden;

    & body {
      & > header,
      & > main,
      & > section,
      & > footer {
        filter: blur(5px);
      }
    }
  }

  &-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: fit-content;
    max-width: 100%;
    margin: auto;
  }

  &-close {
    position: relative;
    z-index: 10;
    align-self: flex-end;
    display: flex;
    width: 40px;
    height: 40px;
    font-size: 15px;
    line-height: 15px;
    padding: 10px;
    aspect-ratio: 1 / 1;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 2px;
      height: 20px;
      background-color: currentColor;
      transform-origin: center;
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 2px;
      height: 20px;
      background-color: currentColor;
      transform-origin: center;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &-body {
    position: relative;
    width: fit-content;
    height: auto;
    background-color: var(--bg-main);
    border-radius: 39px;
    padding: 15px;
    z-index: 9;
    margin: auto;
    color: white;

    hr {
      width: 97%;
      margin: 20px auto;
    }

    img {
      width: auto;
      height: auto;
      // max-height: 745px;
      max-height: 75vh;
      border-radius: 25px;
      box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.2) inset;
    }

    @media (max-width: 601px) {
      width: fit-content;

      img {
        width: 80vw;
      }
    }
  }

  &#login-review {
    & .popup-body {
      border-radius: 25px;
      max-width: 650px;
    }
  }

  &#site-preview {
    & .popup-wrapper {
      width: 100%;
      max-width: 1500px;

      & .popup-body {
        width: 100%;
        padding: 0;
      }
    }
  }

  &#privacy-policy {
    overflow-y: scroll;

    p {
      max-width: 900px;
      color: var(--color-white);
    }
  }

  .map-container {
    overflow: hidden;
    border-radius: 25px;
    width: 100%;
    max-width: 80vw;
    min-width: 75vw;
    height: 60vh;

    iframe {
      width: 100%;
      height: 100%;
    }
  }

  .map-testimonials {
    display: flex;
    align-items: center;

    p.color-white {
      span {
        &.separator {
          margin: 0px 12px;
        }

        @media (max-width: 900px) {
          margin: 0px 12px;

          &.separator {
            display: none;
          }
        }
      }

      @media (max-width: 900px) {
        max-width: 210px;
      }

      @media (max-width: 600px) {
        max-width: 200px;
      }
    }

    i.icon-phone {
      display: none;

      @media (max-width: 900px) {
        display: block;
        margin-left: 12px;
      }
    }

    .button-link {
      margin-left: auto;
    }

    @media (max-width: 750px) {
      display: grid;
      gap: 6px;
      grid-template-columns: repeat(2, 1fr);
      // grid-template-rows: repeat(3, 1fr);
      grid-template-columns: auto;

      .p.color-white {
        grid-area: 1 / 1 / 2 / 2;
      }

      .phone-line {
        grid-area: 2 / 1 / 3 / 2;
      }

      #map-social {
        grid-area: 3 / 1 / 4 / 2;
      }

      .button-link {
        // grid-area: 2 / 2 / 3 / 3;
        grid-area: 3 / 2 / 4 / 3;
      }
    }

    @media (max-width: 520px) {
      display: flex;
      flex-direction: column;
      gap: 6px;
      align-items: start;

      .button-link {
        margin-left: 0;
      }
    }
  }

  &-gallery {
    .popup-body {
      max-width: 100%;
      background-color: transparent;

      .gallery-card {
        width: calc(100vw - 60px);
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          margin: 0 auto;
          max-width: 100%;
          max-height: auto;
          width: auto;
          height: auto;
          box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 30px 0px;
        }
      }
    }
  }
}
