.popup {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  //background-color: var(--bg-main);
  opacity: 1;
  z-index: 5;
  top: 0;
  backdrop-filter: blur(5px) brightness(60%);
  transform-origin: center;
  min-width: 360px;

  video {
    border-radius: 10px;
    max-width: 90vw;
  }

  &.open {
    display: block;
    animation: popupAppear 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  &-body {
    position: relative;
    width: fit-content;
    height: auto;
    background-color: var(--bg-main);
    border-radius: 39px;
    padding: 15px;
    z-index: 9;
    margin: 20px auto;
    color: white;

    hr {
      width: 97%;
      margin: 20px auto;
    }

    img {
      width: auto;
      height: auto;
      max-height: 745px;
      border-radius: 25px;
      box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.2) inset;
    }

    @media (max-width: 601px) {
      width: fit-content;

      img {
        width: 80vw;
      }
    }
  }

  .map-container {
    overflow: hidden;
    border-radius: 25px;
    width: 80vw;
    height: 60vh;

    iframe {
      width: 100%;
      height: 100%;
    }
  }

  .map-testimonials {
    display: flex;
    align-items: center;

    p.color-white {
      span {
        &.separator {
          margin: 0px 12px;
        }

        @media (max-width: 900px) {
          margin: 0px 12px;

          &.separator {
            display: none;
          }
        }
      }

      @media (max-width: 900px) {
        max-width: 210px;
      }

      @media (max-width: 600px) {
        max-width: 200px;
      }
    }

    i.icon-phone {
      display: none;

      @media (max-width: 900px) {
        display: block;
        margin-left: 12px;
      }
    }

    .button-link {
      margin-left: auto;
    }

    @media (max-width: 750px) {
      display: grid;
      gap: 6px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);

      .p.color-white {
        grid-area: 1 / 1 / 2 / 2;
      }

      .phone-line {
        grid-area: 2 / 1 / 3 / 2;
      }

      .button-link {
        grid-area: 2 / 2 / 3 / 3;
      }
    }

    @media (max-width: 520px) {
      display: flex;
      flex-direction: column;
      gap: 6px;
      align-items: start;

      .button-link {
        margin-left: 0;
      }
    }
  }

  &-gallery {
    .popup-body {
      max-width: 100%;
      background-color: transparent;

      .gallery-card {
        width: calc(100vw - 60px);
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          margin: 0 auto;
          max-width: 100%;
          max-height: auto;
          width: auto;
          height: auto;
          box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 30px 0px;
        }
      }
    }
  }
}